[run]
branch = true
source =
    quartet_output

[report]
omit =
    *site-packages*
    *tests*
    *.tox*
    ./quartet_output/apps.py
    ./quartet_output/errors.py
    ./quartet_output/permissions.py
    ./quartet_output/admin.py
    ./quartet_output/management/*
show_missing = True
exclude_lines =
    raise NotImplementedError
