coverage==4.4.1
mock>=1.0.1
flake8>=2.1.0
tox>=1.7.0
codecov>=2.0.0
django-model-utils>=2.0
haikunator
lxml
celery>=4.1.1
django-extensions>=2.0.7
djangorestframework>=3.8.2
-e git+ssh://git@gitlab.com:serial-lab/quartet_capture.git#egg=quartet_capture
-e git+ssh://git@gitlab.com:serial-lab/epcpyyes.git#egg=epcpyyes
-e git+ssh://git@gitlab.com:serial-lab/eparsecis.git#egg=eparsecis
# Additional test requirements go here
